nav{
    background-color:#333;
    color:white;
    padding:10px;

}
body{
    margin-left: 60px;
}
nav ul{
    list-style-type:none;
    padding:0;
}
nav ul li{
    display:inline;
    margin-right:20px;

}
nav ul li a{
    color:white;
    text-decoration:none;

}
nav ul li a:hover{
    text-decoration:undeline;
}
section{
    padding:20px;
}
footer{
    background-color: #2858de;
    color:#fff;
    text-align:center;
    padding:10px 0;
}
.sai {
    border: 5px solid red;
    background-color: rgba(215, 197, 197,0.5);
    width: 400px;
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.sai h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.sai form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sai input[type="text"],.sai input[type="password"] {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.sai input[type="submit"] {
    background-color: #4c54af;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.sai input[type="submit"]:hover {
    background-color: #8e623e;
}



